<div class="header">
  <div class="header-left">
    <p>Hey, <%= info.first_name%> <%= info.last_name%></p>
    <h2>Dashboard</h2>
  </div>
  <div class="header-right">
    <a href="/login">
      Logout &nbsp;
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
</div>
