<% layout("/layouts/boilerplate") -%>
<head>
  <title>Add new member</title>
  <link rel="stylesheet" href="/css/new.css" />
</head>
<body>
  <div class="form-container">
    <h2>Add new member <i class="fa-solid fa-user-plus"></i></h2>
    <form method="POST" action="/admin/<%=id%>">
      <div class="field">
        <input type="text" name="first_name" placeholder=" " required />
        <label for="first_name">First name</label>
      </div>
      <div class="field">
        <input type="text" name="last_name" placeholder=" " required />
        <label for="last_name">Last name</label>
      </div>
      <div class="field">
        <input type="text" name="username" placeholder=" " required />
        <label for="username">Username</label>
      </div>
      <div class="field">
        <input type="text" name="email" placeholder=" " />
        <label for="email">Email</label>
      </div>
      <label for="type_of_user" style="display: block;color: #6d6d6d;margin: 20px 0px 10px 0px;">Type of user</label>
      <select id="options" name="type_of_user" title="select the type of user">
        <option value="normal" style="background-color:  #2c2c2c;">normal</option>
        <option value="admin" style="background-color:  #2c2c2c;">admin</option>
      </select>
      <div class="field">
        <input type="password" placeholder=" " name="password" required />
        <label for="password">Password</label>
      </div>
      <div class="field">
        <input type="number" name="phone_number" placeholder=" " required />
        <label for="phone_number">Phone number</label>
      </div>
      <button>Add member</button>
    </form>
  </div>
</body>
